<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.word">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Word">

        <activity android:name=".handleInvitation.CounterChallenge"></activity>
        <activity android:name=".handleInvitation.ReactionActivity" />
        <activity android:name=".ResolutionActivity" />

        <activity android:name=".ui.newchallenge.NewChallengeSentActivity"></activity>
        <activity android:name=".ui.newchallenge.NewChallengeReviewActivity" />
        <activity android:name=".ui.newchallenge.NewChallengeDescriptionActivity" />
        <activity android:name=".ui.newchallenge.NewChallengeActivity" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResolveActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".SettlementLoseActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".WinningActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".WinningResolutionActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".LosingActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".LosingResolutionActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".SettlementWinActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>